.burger {
  display: none;

  @include focus {
    outline: none;

    & .burger__open,
    & .burger__closed {
      outline: none;
      fill: $color-resolution-blue;

      @include active {
        fill: $color-navy-blue;
      }
    }
  }

  @include vp-1199 {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    touch-action: manipulation;
    user-select: none;
  }
}

.burger__open {
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  fill: $color-default-white;
  transform: translateX(-21%) translateY(-50%);

  @include vp-767 {
    transform: translateX(-21%) translateY(-83%);
  }
}

.burger__closed {
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  fill: $color-elephant;
  transform: translateX(5%) translateY(-50%);

  @include vp-1199 {
    transform: translateX(-23%) translateY(-55%);
  }

  @include vp-767 {
    transform: translateX(-23%) translateY(-100%);
  }
}

.burger__closed,
.burger__open {
  @include hover-focus {
    outline: none;
    fill: $color-resolution-blue;

    @include active {
      fill: $color-navy-blue;
    }
  }
}
