.contacts {
  position: relative;
  margin-bottom: 102px;

  @include vp-1199 {
    margin-bottom: 69px;
  }

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.contacts__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;

  @include vp-1279 {
    padding: 0 20px;
  }

  @include vp-1199 {
    padding: 0 45px;
    flex-direction: column;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.contacts__wrapper {
  min-width: 485px;
  width: calc(47% - 5px);

  @include vp-1199 {
    width: 100%;
    margin-bottom: 41px;
  }

  @include vp-767 {
    min-width: auto;
    margin-bottom: 28px;
  }
}

.contacts__header h2 {
  font-family: $ff-montserrat;
  font-weight: $fw-extra-bold;
  font-size: $fz-big;
  line-height: $lh-big;
  color: $color-elephant;
  margin: 0;
  margin-bottom: 23px;
  width: 100%;
  position: relative;

  &::before {
    content: attr(data-shadow);
    font-size: $fz-large;
    line-height: $lh-large;
    position: absolute;
    opacity: 0.03;
    bottom: -4px;
    margin: 0;
    width: max-content;

    @include vp-1199 {
      font-size: $fz-lbig;
      line-height: $lh-lbig;
      bottom: 0;
    }

    @include vp-767 {
      font-size: $fz-xxxmedium;
      line-height: $lh-xxxmedium;
      bottom: auto;
      top: -4px;
    }
  }

  @include vp-1199 {
    margin-bottom: 20px;
    font-size: $fz-xxsmedium;
    line-height: $lh-xxsmedium;
  }

  @include vp-767 {
    margin-bottom: 11px;
    font-size: $fz-xsmedium;
    line-height: $lh-xsmedium;
  }
}

.contacts__header p {
  font-family: $ff-montserrat;
  font-weight: $fw-regular;
  font-size: $fz-xxsmall;
  line-height: $lh-xxmedium;
  color: $color-elephant;
  margin: 0;
  padding-bottom: 50px;

  @include vp-1199 {
    font-size: $fz-xxsmall;
    line-height: $lh-xxmedium;
    max-width: 485px;
    padding-bottom: 38px;
  }

  @include vp-767 {
    font-size: $fz-xsmall;
    line-height: $lh-smedium;
    max-width: 100%;
    margin-right: 8px;
    padding-bottom: 30px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @include vp-1199 {
    flex-direction: row;
    width: 100%;
    gap: 44px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 29px;
  }
}

.contacts__item {
  position: relative;
  padding-left: 56px;
  max-width: max-content;
  display: flex;
  flex-direction: column;

  & svg {
    position: absolute;
    width: 26px;
    height: 26px;
    stroke: $color-elephant;
    fill: none;
    top: 12px;
    left: 0;
  }

  & p {
    font-weight: $fw-semi-bold;
    font-size: $fz-xxxsmall;
    line-height: $lh-xxxsmall;
    margin: 0;
    padding-bottom: 8px;
  }

  & a {
    font-weight: $fw-regular;
    font-size: $fz-xxsmall;
    line-height: $lh-xxmedium;

    @include hover-focus {
      outline: none;
      color: $color-resolution-blue;

      @include active {
        color: $color-navy-blue;
      }
    }

    @include disabled {
      color: rgba($color-elephant, 0.1);
      pointer-events: none;
      cursor: default;
    }
  }

  @include vp-1199 {
    padding-left: 34px;
    min-width: fit-content;

    & svg {
      top: 0;
      width: 24px;
      height: 24px;
    }

    & p {
      font-size: $fz-xxsmall;
      line-height: $lh-xxsmall;
      margin: 0;
      padding-bottom: 5px;
    }

    & a,
    & span {
      font-size: $fz-xsmall;
      line-height: $lh-xsmedium;
    }
  }

  @include vp-767 {
    padding-left: 32px;
    padding-right: 90px;

    & svg {
      width: 22px;
      height: 22px;
      top: 0;
    }

    & p {
      font-size: $fz-xsmall;
      line-height: $lh-xsmall;
      margin: 0;
      padding-bottom: 8px;
    }

    & a {
      font-size: $fz-xsmall;
      line-height: $lh-smedium;
    }
  }
}

.contacts__map {
  width: 585px;
  height: 324px;
  flex-shrink: 0;
  margin-top: 75px;

  @include vp-1199 {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 340px;
  }

  @include vp-767 {
    width: 100%;
    height: 320px;
  }
}
