.form {
  position: relative;
  margin-bottom: 85px;

  > picture {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      background-color: $color-elephant;
    }

    @include vp-1199 {
      & img {
        object-fit: fill;
      }
    }
  }

  @include vp-1199 {
    margin-bottom: 88px;
    min-height: auto;
  }

  @include vp-767 {
    margin-bottom: 67px;
  }
}

.form__container {
  padding-top: 306px;
  padding-bottom: 305px;
  text-align: center;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;

  @include vp-1199 {
    align-items: center;
    padding-top: 189px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    padding: 176px 15px 175px;
  }
}

.form__container h2 {
  font-family: $ff-montserrat;
  font-weight: $fw-extra-bold;
  font-size: $fz-big;
  line-height: $lh-big;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  text-align: center;
  padding-right: 17px;
  transform: translateY(6px);

  @include vp-1199 {
    margin-bottom: 21px;
    padding-right: 0;
    font-size: $fz-xxsmedium;
    line-height: $lh-xxsmedium;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: $fz-xsmedium;
    line-height: $lh-xsmedium;
  }
}

.form__container p {
  font-family: $ff-montserrat;
  font-weight: $fw-regular;
  font-size: $fz-xxsmall;
  line-height: $lh-xxmedium;
  color: $color-default-white;
  margin: 0;
  padding-right: 17px;
  padding-bottom: 44px;
  text-align: center;
  transform: translateY(4px);

  @include vp-1199 {
    max-width: 50%;
    font-size: $fz-xxsmall;
    line-height: $lh-xxmedium;
    padding-right: 0;
    padding-bottom: 33px;
  }

  @include vp-767 {
    font-size: $fz-small;
    line-height: $lh-xxxsmall;
    max-width: 100%;
    padding-bottom: 31px;
  }
}

.form__feedback {
  width: 100%;

  & fieldset {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: 960px;
    width: 100%;
    column-gap: 30px;
    margin: 0;
    padding: 0;
    border: none;
  }

  &::-webkit-input-placeholder {
    color: rgba($color-elephant, 0.5);
  }

  @include vp-1199 {
    width: 100%;
    padding: 0 206px;

    & fieldset {
      flex-direction: column;
      min-width: 266px;
      row-gap: 7px;
      column-gap: 0;
      align-items: stretch;
    }
  }

  @include vp-767 {
    padding: 0;
  }
}

.form__custom-input,
.form__custom-textarea {
  position: relative;

  ::-webkit-input-placeholder {
    color: rgba($color-elephant, 0.5);
  }

  label {
    border: none;
    margin: 0;
    padding: 0;
  }

  input,
  textarea {
    border: 1px solid rgba($color-navy-blue, 0.1);
    min-height: 64px;
    min-width: 340px;
    display: block;
    margin: 0;
    font-weight: $fw-regular;
    font-size: $fz-xxsmall;
    line-height: $lh-xxsmall;
    color: rgba($color-elephant, 1);
    cursor: text;
    outline: none;
    padding: 22px 30px 21px;

    @include hover {
      color: $color-navy-blue;
      border: 1px solid $color-navy-blue;

      &::placeholder {
        color: $color-navy-blue;
      }
    }

    &:active,
    &:focus {
      color: $color-elephant;
      border: 1px solid $color-resolution-blue;

      &::placeholder {
        color: transparent;
      }
    }

    &:disabled {
      color: rgba($color-navy-blue, 0.1);
      border: 1px solid rgba($color-navy-blue, 0.1);
      pointer-events: none;
      cursor: default;
    }

    @include vp-1199 {
      padding: 15px 15px;
      min-height: 50px;
      min-width: 100%;
      width: 100%;
      font-size: $fz-xsmall;
      line-height: $lh-xsmall;
    }

    @include vp-767 {
      padding: 15px 15px;
      min-width: 290px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-torch-red-error;
    }
  }
}

.form__feedback button[type="submit"] {
  display: block;
  text-align: center;
  font-family: $ff-montserrat;
  font-weight: $fw-medium;
  font-size: $fz-xxsmall;
  line-height: $lh-xxsmall;
  color: $color-default-white;
  min-width: 238px;
  min-height: 64px;
  padding: 24px 9px 22px;
  background-color: $color-navy-blue;
  border: 1px solid $color-navy-blue;
  cursor: pointer;
  user-select: none;
  outline: none;

  @include hover-focus {
    background-color: $color-default-white;
    border-color: $color-resolution-blue;
    color: $color-resolution-blue;
    outline: none;

    @include active {
      color: $color-default-white;
      background-color: $color-resolution-blue;
    }
  }

  @include disabled {
    opacity: 0.1;
    pointer-events: none;
    cursor: default;
  }

  @include vp-1199 {
    margin-top: 8px;
    padding: 21px 23px 19px;
    min-height: 50px;
    min-width: 266px;
    font-size: $fz-xxsmall;
    line-height: $lh-xxsmall;
  }

  @include vp-767 {
    margin-top: 1px;
    padding: 18px 23px 16px;
    min-width: 290px;
  }
}
