.instructors__wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: $shadow-cards;
}

.instructors__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 36px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  & h3 {
    margin: 0;
    font-family: $ff-montserrat;
    font-weight: $fw-bold;
    font-size: $fz-xmedium;
    line-height: $lh-xmedium;
    color: $color-elephant;
    padding-top: 8px;

    @include vp-1199 {
      font-size: $fz-xxxsmall;
      line-height: $lh-xxxsmall;
      padding-bottom: 24px;
    }

    @include vp-767 {
      font-size: $fz-xxsmall;
      line-height: $lh-xxsmall;
      padding-bottom: 25px;
    }
  }

  @include vp-1199 {
    padding-bottom: 8px;
  }

  @include vp-767 {
    padding-bottom: 8px;
  }
}

.instructors__arrows {
  @include vp-1199 {
    transform: translateX(0) translateY(-1px);
  }

  @include vp-767 {
    transform: translateX(0) translateY(-3px);
  }
}

.instructors__slider {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  max-height: 100%;
  background-color: $color-default-white;

  @include vp-1199 {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 43px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 38px;
  }
}

.instructors__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.instructors__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: $shadow-cards;
  height: auto;

  & img {
    min-height: 212px;
    height: 100%;
    width: 100%;
    object-position: bottom;
    object-fit: cover;
    background-color: $color-elephant;

    @include vp-1199 {
      object-position: center;
    }
  }

  @include vp-1199 {
    width: 176px;
    padding: 15px;
  }

  @include vp-767 {
    width: 250px;
    padding: 20px;
    padding-bottom: 10px;
  }
}

.instructors__header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 14px;

  & h4 {
    margin: 0;
    font-family: $ff-montserrat;
    font-weight: $fw-bold;
    font-size: $fz-xsmall;
    line-height: $lh-xxsmall;
    color: $color-elephant;
    width: 120px;
  }

  @include vp-1199 {
    padding-bottom: 12px;
  }
}

.instructors__header-container a {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid rgba($color-navy-blue, 0.1);
  margin-top: 3px;

  & svg {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 14px;
    height: 8px;
    fill: $color-elephant;
  }

  @include hover-focus {
    border-color: $color-elephant;

    &:active {
      background-color: $color-navy-blue;
      border-color: $color-navy-blue;

      & svg {
        fill: $color-default-white;
      }
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-767 {
    margin-right: 12px;
  }
}

.instructors__info {
  & p {
    margin: 0;
    font-family: $ff-montserrat;
    font-weight: $fw-regular;
    font-size: $fz-small;
    line-height: $lh-xxsmall;
    color: $color-elephant;

    @include vp-1199 {
      font-size: $fz-small;
      line-height: $lh-xxxsmall;
    }
  }
}
