.nav {
  @include vp-1199 {
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 420px;
    height: auto;
    padding: 125px 45px 64px;
    top: -200vh;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: $color-default-white;
    transition: top $trans-default;

    & ul {
      font-weight: $fw-bold;
      letter-spacing: $ls-interium;
      overflow-y: auto;
      flex-direction: column;
      row-gap: 26px;
      flex-wrap: nowrap;
      width: 100%;
      max-width: 100%;
      max-height: 50vh;
      background-color: $color-default-white;
      text-transform: uppercase;

      @include vp-767 {
        font-size: $fz-xsmall;
        line-height: $lh-xsmall;
        row-gap: 22px;
      }
    }
  }

  @include vp-767 {
    padding: 99px 15px 50px;
    min-height: 343px;
    height: auto;
  }
}
